@import url("https://use.fontawesome.com/releases/v5.11.1/css/all.css");

body {
    background-color: var(--forest-green);
  }

:root {
    --forest-green: #4d6954;
    --blue: #C0D6DF;
    --purple: #AC7B84;
    --green: #4DA167;
    --brown: #551118;
  }

  @font-face {
    font-family: 'blackriver-bold';
    src: url('/fonts/Blackriver-Bold.ttf');
  }