@import url("https://use.fontawesome.com/releases/v5.11.1/css/all.css");

body {
    background-color: var(--off-white);
    font-family: 'Old Standard TT';
  }

  html {
    scroll-behavior: smooth;
  }

:root {
    --grey: #4C5454;
    --blue: #C0D6DF;
    --purple: #AC7B84;
    --green: #4DA167;
    --brown: #551118;
    --white: #FFFFFF;
    --off-white: #F6F6F6;
  }

  @font-face {
    font-family: 'Old Standard TT';
    src: url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Old+Standard+TT:ital@0;1&display=swap');
  }